.nav{
  position: fixed;
  max-width: 296px;
  min-height: 100vh;
}
.personal{
  margin-top: 362px;
  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.nav-link{
  color: #212529;
}

.active::before{
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  border-left: 4px solid #198754;
}